<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>添加用户</title>
</head>
<body>
	<div >
		<input id="id" type="hidden" name="id">
		<table border="2" align="center">
			<tr>
				<th>姓名</th>
				<td><input id="name" type="text" name="name"></td>
			</tr>
			<tr>
				<th>地址</th>
				<td><input id="address" type="text" name="address"></td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<a id="add" href="javascript:void(0)">添加</a>
				</td>
			</tr>
		</table>
	</div>		
	
</body>
</html>